asgiref
certifi
cffi
charset-normalizer
cloudinary
cryptography
dj-database-url
Django
django-cors-headers
django-filter
django-mailjet
djangorestframework
djangorestframework-simplejwt
environs
fernet
gunicorn
idna
mailjet-rest
marshmallow
packaging
Pillow
psycopg2-binary
pyaes
pycparser
PyJWT
python-dotenv
pytz
requests
six
sqlparse
typing_extensions
urllib3
whitenoise
