/* ------------------------------------------------------------------- 
 * ## alert box 
 * ------------------------------------------------------------------- */
 .alert-box {
    /* padding       : var(--vspace-0_75) 4rem var(--vspace-0_75) 3.2rem;
    margin-bottom : var(--vspace-1);
    border-radius : var(--border-radius);
    font-family   : var(--font-1);
    font-weight   : 500;
    font-size     : var(--text-sm);
    line-height   : var(--vspace-0_75); */
    opacity       : 1;
    visibility    : visible;
    position      : relative;
}

.alert-box__close {
    position : absolute;
    display  : block;
    right    : 1.6rem;
    top      : 1.6rem;
    cursor   : pointer;
    width    : 12px;
    height   : 12px;
}

.alert-box__close::before,
.alert-box__close::after {
    content  : '';
    display  : inline-block;
    width    : 1px;
    height   : 12px;
    position : absolute;
    top      : 0;
    left     : 5px;
}

.alert-box__close::before {
    transform : rotate(45deg);
}

.alert-box__close::after {
    transform : rotate(-45deg);
}

.alert-box--error {
    background-color : hsla(359, 100%, 91%, 1);;
    color            : hsla(359, 50%, 50%, 1);
}

.alert-box--error .alert-box__close::before,
.alert-box--error .alert-box__close::after {
    background-color : hsla(359, 50%, 50%, 1);
}

.alert-box--success {
    background-color : hsla(76, 69%, 68%, 1);
    color            : hsla(76, 29%, 28%, 1);
}

.alert-box--success .alert-box__close::before,
.alert-box--success .alert-box__close::after {
    background-color : hsla(76, 29%, 28%, 1);
}

.alert-box--info {
    background-color : hsla(205, 82%, 91%, 1);
    color            : hsla(205, 32%, 31%, 1);
}

.alert-box--info .alert-box__close::before,
.alert-box--info .alert-box__close::after {
    background-color : hsla(205, 32%, 31%, 1);
}

.alert-box--notice {
    background-color : hsla(51, 100%, 80%, 1);
    color            : hsla(51, 30%, 30%, 1);
}

.alert-box--notice .alert-box__close::before,
.alert-box--notice .alert-box__close::after {
    background-color : hsla(51, 30%, 30%, 1);
}

.alert-box.hideit {
    opacity    : 0;
    visibility : hidden;
    transition : all .5s;
}